.faq-container {
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
}

.title-faq {
    color: rgb(255, 119, 0);
    font-size: 50px;
    margin-bottom: 80px;
    margin-top: 0px;
  }

.faq-accordion{
    align-content: center;
    margin: auto;
    width: 50%;
    height: 50%;
    font-size: 18px;
}

.faq-cards{
    margin: auto;
    height: 50%;
}