/* defaults */
/* =============================================== */
html {
  font-size: 62.5%;
}

body {
  --light: hsl(0, 0%, 100%);
  --background: linear-gradient(
    to right bottom,
    hsl(236, 50%, 50%),
    hsl(195, 50%, 50%)
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans",
    sans-serif;

  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    hsl(236, 50%, 98%),
    hsl(236, 50%, 94%)
  );
}

a,
a:link {
  font-family: inherit;
  text-decoration: none;
}

/* modal */
/* =============================================== */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  display: flex;
  transition: all 5s ease-in-out;
  background: hsla(0, 0%, 40%, 0.6);
}

.modal {
  width: 60rem;
  padding: 4rem 2rem;
  border-radius: 0.8rem;

  color: var(--light);
  background: var(--background);
  box-shadow: 0.4rem 0.4rem 2.4rem 0.2rem hsla(236, 50%, 50%, 0.3);
  position: relative;
  transition: all 5s ease-in-out;
  overflow: hidden;
}

.modal__details {
  text-align: center;

  margin-bottom: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.4);
}

.modal__title {
  font-size: 5.2rem;
  color: chocolate;
  font-weight: bolder;
}

.modal__description {
  margin-top: 2rem;
  text-align: center;
  font-size: 2.6rem;
  font-style: normal;
  color: chocolate;
  font-weight: bold;
}

.modal__text {
  padding: 0 4rem;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 2.6rem;
  line-height: 2;
  font-style: normal;
  color: white;
}

.modal__text::before {
  content: "";

  position: absolute;
  top: 0%;
  left: 100%;
  transform: translate(-50%, -50%);

  width: 18rem;
  height: 18rem;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  border-radius: 100rem;

  pointer-events: none;
}

.modal__btn {
  padding: 1rem 1.6rem;
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  border-radius: 100rem;

  color: inherit;
  background: transparent;
  font-size: 1.4rem;
  font-family: inherit;
  letter-spacing: 0.2rem;

  transition: 0.2s;
  cursor: pointer;
}

.modal__btn:hover,
.modal__btn:focus {
  border-color: hsla(0, 0%, 100%, 0.6);
  transform: translateY(-0.2rem);
}

/* links */
/* =============================================== */
.link-1 {
  font-size: 1.8rem;

  color: var(--light);
  background: var(--background);
  box-shadow: 0.4rem 0.4rem 2.4rem 0.2rem hsla(236, 50%, 50%, 0.3);
  border-radius: 100rem;
  padding: 1.4rem 3.2rem;

  transition: 0.2s;
}

.link-1:hover,
.link-1:focus {
  transform: translateY(-0.2rem);
  box-shadow: 0 0 4.4rem 0.2rem hsla(236, 50%, 50%, 0.4);
}

.link-2 {
  width: 4rem;
  height: 4rem;
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  border-radius: 100rem;

  color: inherit;
  font-size: 2.2rem;

  position: absolute;
  top: 2rem;
  right: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s;
}

.link-2::before {
  content: "×";

  transform: translateY(-0.1rem);
}

.link-2:hover,
.link-2:focus {
  border-color: hsla(0, 0%, 100%, 0.6);
  transform: translateY(-0.2rem);
}

.Red {
  font-size: 30rem;
  font-style: normal;
  color: white;
}
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
